.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media  screen and (max-width: 425px) { 
    .footer__content {
        flex-direction: column;
     
    }
}